doctype html
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 空白模板 - 品耀數位行銷
    link(rel="stylesheet" href="css/base/blank.css?")

body
  .container
    .left-content
      img(src="images/base/client-portol-image.webp" alt="客戶入口圖片")
    .right-content
      .company-header
        .company-logo
          img(src="images/base/logo.svg" alt="品耀數位行銷 LOGO")
        .company-info
          h1.company-name 品耀數位行銷
          p.company-slogan 讓品牌發光，價值躍升
      
      include ../components/form.pug
  
  .footer
    p © 2025 品耀數位行銷