//- 表單組件
.form-container
  form.login-form
    .form-group
      label(for="username") 專案名稱
      input#username(type="text" name="username" placeholder="請輸入您的專案名稱")
    .form-group
      label(for="password") 案號
      input#password(type="text" name="password" placeholder="請輸入你的案號")
    .form-actions
      button.btn-login(type="submit") 登入 
